.loadingCanvas{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/load_screen_bg.svg');
    background-size:cover;

    img{
        max-width:75%;
    }
    
}

