// Mobile var
$phone: "(max-width:500px)";
$phone-land: "(orientation: landscape)";
$tablet: "(max-width:500px)";

.structuredPage.newAccount {
  justify-content: space-between;
  .pageTitle {
  }
  .pageContent {
    height: 70vh;
    margin-bottom: 5rem;
    justify-content: center;
    
  }
  .selectUserRole {
    margin:.25vh auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    h2{
      font-size: 1.3rem;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: stretch;
      width: 5rem;
      margin:1rem 2rem;
      p{
        margin:.5rem;
        padding:0;
        font-size: .9rem;
      }
      img {
        margin:auto;
      }
    }
  }
  @media #{$phone-land} {
    max-height: 100vh;
    .pageTitle {
      display: none !important;
      img {
        display: none;
      }
    }
    .pageContent {
      max-width: 70vw;
      flex-wrap: wrap;
      > * {
        width: 50%;
      }
    }
  }
}
//Buttons
.authButton {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  span {
    text-align: center;
    width: 90%;
    text-align: center;
  }
  @media #{$phone-land} {
    width: 70%;
  }
}

.NoAccountButton {
  font-size: 1.6rem;
  color: #18247c;
}

.LocalSignInButton {
  width: 100%;
  background: #18247c;
  padding: 0.8rem;
  border-radius: 1.5rem;
  i {
    font-size: 2.2rem;
  }
}

.fb_login {
  background: #3d5d9c;
  .fa-facebook-f {
    background: #314a7d;
    padding: 1rem 2rem;
  }
}

.google_login {
  background: #dc4d28;
  .fa-google-plus-g {
    background: #b03e20;
    padding: 1rem 15px;
  }
}

//Form
form.pageContent {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  div {
    border-bottom: 1px solid #fff;
    display: flex;
    width: 100%;
    margin: 1rem;
    @media #{$phone-land} {
      margin: 0;
      padding: 0;
    }
    img {
      width: 2rem;
    }
  }
  input {
    width: 100%;
    border: none;
    background: none;
    color: #fff;
    font-size: 1.6rem;
    margin: 15px;
    &:focus {
      outline: none;
    }
    &:active {
      color: #fff;
    }
  }
  button {
    background: none;
    color: #fff;
    border: none;
    font-size: 1.6rem;
    padding: 1rem;
    &:focus {
      outline: none;
    }
    &:active,
    &:hover {
      color: #ddd;
    }
  }

  @media #{$phone-land} {
    margin: 0;
    padding: 0;
  }
}



.errors {
  color: #ddd;
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
}

.SignInDrawer.active {
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: -1rem;
  left: -1rem;
  background-color: rgba(0, 0, 0, 0.5);
  .SignInButtonWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    height: 50vh;
    width: 100vw;
    padding: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &:nth-child(*) {
      margin: auto;
    }
    button {
      margin: 5%;
    }
  }
  transition: all 0.5s ease;
}

.SignInDrawer {
  height: 0;
  overflow: hidden;
  .SignInButtonWrapper {
    height: 0;
  }
}


.structuredPage.provider{
  display: flex;
  flex-direction: column;
  color:#fff;
  font-size: 1.8rem;
  .pageContent{
    div{
      border-bottom: none;
      
      align-items: center;
    }
    .upperGroup{
      flex-direction: column;
      margin-left:5rem;
    }
  }
}

.AuthContainer{
  display: flex;
  flex-direction: column;
  width:100%;
  color:#fff;
  border:none !important;
  text-align: center;
  div{
    border:none !important;
  }
  span{
    padding: 0 .7rem;
  }
  .fb_login {
    padding:0;
    background: #3d5d9c;
    .fa-facebook-f {
      background: #314a7d;
      padding: 1rem 2rem;
    }
  }
  
  .google_login {
    padding:0 0 0 0;
    background: #dc4d28;
    .fa-google-plus-g {
      background: #b03e20;
      padding: 1rem 15px;
    }
  }
  button{
    max-width:50%;
    margin:5px;
  }
}

.chkBox{
  margin:0;
  width:2rem;
  height:2rem;
  max-height: 2rem;
  max-width: 2rem;
  padding:0;
  position: relative;
  border-radius:.8rem;
  background:#ddd;
  .checked{
    color:black;
    position: absolute;
    font-size: 3rem;
    margin:0;
    top:-1.3rem;
    
  }
  
}

.structuredPage.Register{
  .FinishButton{
    left:-1rem;
    bottom:-1rem;
    background-color: #fff;
    color:#314a7d;
  }
}

.BackButton,
.NextButton,
.FinishButton,
.SignInButton {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  h2 {
    font-size: 1.8rem;
    margin: 0;
  }
  img {
    margin: 0.3rem 1rem;
    width: 1.4rem;
  }
}

.NextButton,
.FinishButton,
.SignInButton {
  img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}