@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

*{box-sizing: border-box;}
body {
  margin: 0;
  //background-image: url('../../images/Artboard.svg');
  background-size: cover;
  // min-height: 100vh;
  // //max-height: 100vh;
  max-width:100%;
}

img{max-width: 100%;height: auto;}