@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import './var.scss';
@import url("https://use.typekit.net/oov2wcw.css");

html {
  font-size: 62.5%;
  
}

*{box-sizing: border-box;
  font-family: century-gothic, sans-serif;
  font-style: normal;
  font-weight: 100;}
body {
  margin: 0;
  //background-image: url('../../images/Artboard.svg');
  background-size: cover;
  // min-height: 100vh;
  // //max-height: 100vh;
  max-width:100%;
}

img{max-width: 100%;height: auto;}

input{
  color:#fff;
  &::placeholder{
    color:#fff;
  }
}

h1{
  color:#fff;
}